<%provide(:title, "Regeln") %>
<h1>Regeln</h1>
<p>
  Tipps müssen 6 Stunden vor Spielbeginn abgeben werden
</p>
<p>
  Falsche Tipps kosten 1 €
</p>
<p>
  Bei richtiger Tendenz wird pro Tor unterschied 20 Cent bis zu einem Maximum von 80 Cent addiert<br>
  Beispiel:<br>
  <br>
  Ergebniss: 4:2 <br>
  Tipp: 4:2 -> 00 Cent<br>
  Tipp: 3:2 -> 20 Cent<br>
  Tipp: 3:1 -> 40 Cent<br>
  Tipp: 2:1 -> 60 Cent<br>
  Tipp: 2:0 -> 80 Cent<br>
  Tipp: 1:0 -> 80 Cent<br>
  Tipp: 6:1 -> 60 Cent<br>
</p>
