<h1>Blueliner Tippspiel</h1>

<p>Hi <%= @user.name %>,</p>

<p>
Willkommen beim Blueliner Tippspiel bitte klicke auf den link unten um deine Registrieung abzuschließen
</p>

<%= link_to "Aktivieren", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>
