<h1>Passwort änderung</h1>

<p>Um Ihr Passwort zu ändern, klicken Sie bitte auf den Link unten:</p>
<%= link_to "Passwort ändern", edit_password_reset_url(@user.reset_token,
                                                      email: @user.email) %>

<p>Dieser Link wird in 2 Stunden ungültig.</p>

<p>
Wenn Sie keine Passwortänderungen beantragt haben, ignorieren Sie bitte diese
E-Mail und Ihr Passwort bleibt bestehen.
</p>
