<% provide(:title, 'Spiele') %>
<h1>Alle Spiele</h1>

<%= will_paginate %>

<ul class="games">
  <table class="table table-hover">
    <thead>
      <tr>
        <td> Spiel Nr. </td>
        <td> Datum </td>
        <td> Heimmannschaft </td>
        <td> Auswärtsmannschaft </td>
        <td> Ergebniss </td>
        <td> Tipp </td>
        <% if current_user.admin? %>
          <td> Edit </td>
        <%end%>
      </tr>
    </thead>
    <tbody>
      <%= render @games %>
    </tbody>
  </table>
  <% if current_user.admin? %>
    <%= button_to "Neues Spiel", {controller: "games", action: "new"}, class: "btn btn-primary" , method: :get%>
  <% end %>
</ul>

<%= will_paginate %>
