<% provide(:title, 'Spiele') %>
<h1>Alle Spiele</h1>

<%= will_paginate %>


  <div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <td>Spiel</td>
        <td>Datum</td>
        <td>H</td>
        <td>A</td>
        <td>Tipp</td>
        <td>Kosten</td>
        <td>Ergebnis</td>
        <% if current_user.admin? %>
          <td> Edit </td>
        <%end%>
      </tr>
    </thead>
    <tbody>
      <% @homepage = false %>
      <%= render @games %>
    </tbody>
  </table>
</div>
  <% if current_user.admin? %>
    <%= button_to "Neues Spiel", {controller: "games", action: "new"}, class: "btn btn-primary" , method: :get%>
  <% end %>

<%= will_paginate %>
