<footer class="footer">
  <small>
    Das Blueliner Tippspiel von Bastian Erler
  </small>
  <nav>
    <ul>
      <li><%= link_to "Über",    about_path   %></li>
      <li><%= link_to "Kontakt", contact_path %></li>
    </ul>
  </nav>
</footer>
